:root {
  font-size: 16px;
  --text-primary: #fff;
  --bg-primary: #333;
  --bg-secondary: #111;
  --transition-speed: 100ms;
}

body {
  background: #333;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 0.25rem
}

body::-webkit-scrollbar-track {
  background: #ececec;
}

body::-webkit-scrollbar-thumb {
  background: #111;
}


header a {
  color:white;
}
header a:hover {
  color:grey;
}

/* .wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: stretch;
} */

.content {
  background: white;
  padding: 20px 30px;
  margin: 0%;
  width: 100%;
}

.container {
  padding-top: 30px;
}

#loginButton, #registerButton {
  margin-bottom: 30px;
}

legend {
  margin-bottom: 10px
}

.alert {
  width: 100%;
}

.user-info {
  padding-left: 20px;
}

#user-info-row {
  margin: 0 0 30px;
}

.img-container {
  height: 33%;
  overflow: hidden;
  position: relative;
}

#imgpg-img {
  max-height: 75vh;
}


.sidebar {
  z-index: 1;
  height: 100vh;
  background-color: var(--bg-secondary);
}

/* Left Side Nav */
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#left-sidenav {
  width: 5rem;
  position: fixed;
  left: 0;
  transition: width 200ms ease;
}

.nav-item {
  width: 100%;
  padding-left: 1rem;
}

.nav-item:hover {
  background-color: black;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  filter: opacity(0.8);
  transition: var(--transition-sped);
}

.nav-link:hover {
  filter: opacity(1);
}

.nav-profpic-container {
  min-width: 3rem;
  min-height: 3rem;
  background: var(--text-primary);
  border-radius: 1.5rem;
}

.nav-link-icon {
  min-width: 3rem;
  fill: white;
}

.link-text {
  opacity: 0;
  margin-left: 2rem;
  font-size: 1.25em;
  transition: opacity 75ms ease;
}

#left-sidenav:hover {
  width: 15rem;
}

#left-sidenav:hover .link-text {
  opacity: 1;
}

#left-sidenav li a {
  color: var(--text-primary);
  line-height: 1.6em
}

/* End Left Side Nav */


#toolbar {
  width: 30rem;
  position: fixed;
  right: 0;
  color: white;
}
