@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@900&display=swap');
:root {
  font-size: 16px;
  --text-primary: #FFF;
  --offwhite: #F2F2F2;
  --sidebar-primary: #080808;
  --sidebar-secondary: #111111;
  --link-primary: #305986;
  --link-secondary: #6BB0DD;
  --link-tertiary: #FCD0CE;
  --transition-speed: 100ms;
}

body {
  background-color: var(--offwhite);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  height: 100vh;
}

main {
  display: inline-flex;
  flex-basis: 100%;
  width: 100%;
}

.content {
  background: white;
  padding: 2rem 5rem;
  width: 100%;
}

.main-wrapper {
  flex-basis: 100%;
  padding: 0;
}

.main-container {
  align-items: center;
  background-color: white;
  padding: 2rem 2rem;
  margin: 0 30%;
}

.imgpg-header {
  display: inline-flex;
}

.imgpg-header h3 {
  margin-bottom: 2rem;
  font-weight: 500;
}

.main-container img {
  display: block;
  width: 100%;
  /* max-height: 80vh; */
  /* margin: auto; */
  align-content: center;
}

#loginButton, #registerButton {
  margin-bottom: 30px;
}

legend {
  margin-bottom: 10px
}

.btn-primary {
  background-color: var(--link-primary);
  border-color: var(--link-primary);
}

.btn:hover {
  background-color: var(--link-secondary);
  border-color: var(--link-secondary);
}

.alert {
  width: 100%;
}

.user-info {
  padding-left: 20px;
}

#user-info-row {
  display: inline-flex;
  margin: 0 0 30px;
}

.account-img {
  max-width: 100px;
  max-height: 100px;
}

.img-container {
  height: 20rem;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}

.img-container a {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar {
  z-index: 1;
  background-color: var(--sidebar-secondary);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Landing Items */
.landing-logo-container #PxSrt {
  font-family: Frank Ruhl Libre;
  font-style: oblique;
  font-weight: 900;
  transition-duration: var(--transition-speed);
  transition-timing-function: ease-in-out;
  fill: var(--sidebar-primary);
}

.landing-logo-container #PxSrt:hover {
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  fill: var(--link-tertiary);
}
/* End Landing Items */

/* Top Nav */
.navbar-header svg {
  width: 5rem;
  max-height: 2rem;
}

.navbar-header #PxSrt {
  font-family: Frank Ruhl Libre;
  font-style: oblique;
  font-size: 143;
  fill: var(--offwhite);
}

.navbar-header #PxSrt:hover {
  fill: var(--link-tertiary);
}

#topNav {
  background-color: var(--sidebar-primary);
  margin: 0;
  padding: 0 0 0 5rem;
}

#topNav .container-fluid {
  padding: 10px 15px;
}

#topNav a {
  text-decoration: none;
  color: var(--offwhite);
  font-weight: 500;
  /* letter-spacing: .02em; */
  margin: 0 1.25rem;
}

#topNav a:hover {
  color: var(--link-tertiary)
}

/* End Top Nav */
/* Left Side Nav */

#left-sidenav {
  height: 100vh;
  width: 5rem;
  position: fixed;
  left: 0;
  transition: width 200ms ease;
}

.nav-item {
  width: 100%;
  padding-left: 1rem;
}

.nav-item:hover {
  background-color: black;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: white;
  filter: opacity(0.8);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: opacity(1);
}

.nav-profpic-container {
  min-width: 3rem;
  min-height: 3rem;
  background: var(--text-primary);
  border-radius: 1.5rem;
}

.nav-profpic-container img {
  max-width: 3rem;
  max-height: 3rem;
  border-radius: 50%;
}

.nav-link-icon {
  min-width: 3rem;
  fill: white;
}

.link-text {
  opacity: 0;
  margin-left: 2rem;
  font-size: 1.25em;
  transition: opacity 75ms ease;
}

#left-sidenav:hover {
  width: 15rem;
}

#left-sidenav:hover .link-text {
  opacity: 1;
}

#left-sidenav li a {
  color: var(--offwhite);
  line-height: 1.6em
}

/* End Left Side Nav */

#toolbar {
  flex-basis: 20%;
  height: 100vh;
  right: 0;
  color: white;
  padding: 1rem 1.5rem;
}

@media screen and (max-width: 992px) {
  main {
    height: 50%;
  }

  #toolbar {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100vw;
  }

}

#toolbar input[type=radio] {
  margin: .25rem 1rem .25rem 0;
}

#toolbar input[type=checkbox] {
  margin: .25rem 1rem .25rem 0;
}

#thresholdFormGroup #threshold {
  padding: 0;
  width: 100%;
}

.checkboxContainer {
  padding: 0;
}

.submitButtonContainer {
  padding: 0 2%;
}

#submitButtonGroup {
  display: flex;
  flex-wrap: wrap;
}

.toolButton {
  width: 100%;
}

.update-options {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.landing-img-container {
  background-color: none;
  background-image: url("../icons/frame_0001.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 80vh;
}

.landing-logo-container svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-logo-container:hover {
  fill: var(--link-tertiary);
}

.landing-logo-container:hover + .landing-img-container {
  fill: pink;
  background-color: none;
  background-image: url("../icons/frame_0010.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 80vh;
}
/*
.landing-logo-container {
  /* background-color: none; */
  /* background-image: url("../icons/PxSrt.svg");
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 80%;
} */ */
