{% extends "main.html" %}
{% include "leftSideNav.html" %}
{% include "topNav.html" %}
{% block content %}
{% if current_user.is_authenticated %}
  <div class="row">
      {% for upload in uploads %}
        <div class="img-container col-md-4">
          <a href="{{ url_for('images.image', upload_id=upload.id) }}">
            <img class="img-fluid" src="{{ url_for('static', filename='img/uploads/' + upload.filename) }}" alt="">
          </a>
        </div>
      {% endfor %}
  </div>
{% else %}
  <div class="landing-logo-container">
    <a href="/login">
      <svg xmlns="http://www.w3.org/2000/svg" width="400" height="200" viewBox="0 0 400 200">
        <text id="PxSrt" transform="translate(0 150)" font-size="150" font-style="oblique"><tspan x="0" y="0">PxSrt</tspan></text>
      </svg>
    </a>
  </div>
  <div class="landing-img-container"></div>
{% endif %}
{% endblock content %}
