{% extends "main.html" %}
{% include "leftSideNav.html" %}
{% include "topNav.html" %}
{% block content %}
  <img id="imgpg-img" src="{{ url_for('static', filename='img/uploads/' + image.filename) }}" alt="">
  {% if image.author == current_user %}
    <div class="update-options">
      <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal">Delete</button>
    </div>
  {% endif %}
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Image?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('images.delete_image', image_id=image.id) }}" method="post">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block toolbar %}
  <div class="sidebar" id="toolbar">
    <form method="post" enctype="multipart/form-data">
      <div class="form-group row" id="modeFormGroup">
        <label class="col-sm-4" for="mode">Mode</label>
        <select class="col-sm-8 input-large form-control" name="mode" id="mode" required>
          <option value="H">Hue</option>
          <option value="S">Saturation</option>
          <option value="V">Value</option>
          <option value="R">Red</option>
          <option value="G">Green</option>
          <option value="B">Blue</option>
        </select>
      </div>
      <div class="form-group row" id="thresholdFormGroup">
        <label class="col-sm-4" for="threshold">Threshold</label>
        <input type="range" name="threshold" id="threshold" min="0" max="255" value>
      </div>
      <div class="form-group row" id="directionFormGroup">
        <label class="col-sm-4" for="direction">Direction</label>
        <div class="form-group col-sm-8 directionRadioGroup">
          <div class="row">
            <input id="direction-0" type="radio" name="direction" value="H"></input>
            <label for="direction-0">Horizontal</label>
          </div>
          <div class="row">
            <input id="direction-1" type="radio" name="direction" value="V"></input>
            <label for="direction-1">Vertical</label>
          </div>
        </div>
      </div>
      <div class="form-group row" id="upperFormGroup">
        <label class="col-sm-4" for="upper">Upper</label>
        <input class="col-sm-8" type="checkbox" id="upper" name="upper" value="False">
      </div>
      <div class="form-group row" id="reverseFormGroup">
        <label class="col-sm-4" for="reverse">Reverse</label>
        <input class="col-sm-8" type="checkbox" id="reverse" name="reverse" value="False">
      </div>
      <div class="form-group row" id="submitButtonGroup">
        <input class="btn btn-primary toolButton" image_id="{{ image.id }}" id="previewButton" name="preview" value="preview">
        <input class="btn btn-primary toolButton" image_id="{{ image.id }}" id="sortButton" name="sort" value="sort">
        <input class="btn btn-primary toolButton" image_id="{{ image.id }}" id="refreshButton"  name="refresh" value="refresh">
      </div>
    </form>
  </div>
{% endblock toolbar %}
