<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css.map') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>pxsrt</title>
  </head>
  <body>
    {% block topNav %}{% endblock topNav %}

    <main>
      <div class="main-container">
        <div class="imgpg-container">
          {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
              {% for category, message in messages %}
              <div class="alert alert-{{category}}">
                {{message}}
              </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock content %}
        </div>
      </div>
      {% if current_user.is_authenticated %}
        {% block toolbar %}{% endblock toolbar %}
      {% endif %}
    </main>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js.map') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
