{% extends "main.html" %}
{% include "leftSideNav.html" %}
{% include "topNav.html" %}
{% block content %}
  <div class="content">
    <form class="" action="" method="post">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend mb-5>Register</legend>
        <div class="form-group">
          {{ form.email.label(class="form-control-label") }}
          {% if form.email.errors %}
            {{ form.email(class="form-control form-control-md is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.email(class="form-control form-control-md") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.username.label(class="form-control-label") }}
          {% if form.username.errors %}
            {{ form.username(class="form-control form-control-md is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.username.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.username(class="form-control form-control-md") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.password.label(class="form-control-label") }}
          {% if form.password.errors %}
            {{ form.password(class="form-control form-control-md is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password(class="form-control form-control-md") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.password_confirm.label(class="form-control-label") }}
          {% if form.password_confirm.errors %}
            {{ form.password_confirm(class="form-control form-control-md is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.password_confirm.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password_confirm(class="form-control form-control-md") }}
          {% endif %}
        </div>
      </fieldset>
      <div class="form-group" id="registerButton">
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </form>
    <div class="border-top pt-2">
      <small class="text-muted">
        Already Have an Account? <a href="{{url_for('users.login')}}">Sign In</a>
      </small>
    </div>
  </div>
{% endblock content %}
